<!--
 * Author: 赖传峰
 * Email: laichuanfeng@hotmail.com
 * Homepage: http://laichuanfeng.com/
 * Date: 2016/7/19
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product-ES5</title>
</head>
<body>
<div id="container"></div>
<!--<script src="../react/react.min.js"></script>-->
<script src="../react/react-with-addons.min.js"></script>
<script src="../react/react-dom.min.js"></script>
<!--<script src="../dist/vendors.min.js"></script>-->
<script src="../dist/es5.min.js"></script>
</body>
</html>